/* latin-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fChc4EsA.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  :root {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;

  }


.Fluent-Calendar {
    display: flex;
    margin: 0;
    min-height: 100vh;
}


.Meet-List {
    border: 1px solid #2A2E41B2;
    flex: 1535 0 0;
}

.Calendar {
    background: #2A2E41B2;
    flex: 800 0 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0 4.283%;
    min-width: 402px;
}

.Calendar_Month {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10.5% 0;
  position: relative;
}

.Calendar_Month::after, .Calendar_Month::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  box-sizing: border-box;
}

.Calendar_Month::before {
  background: #000;
  mix-blend-mode: normal;
  opacity: 0.17;
  left: 0;
  bottom: 2px;
}

.Calendar_Month::after {
  background: #fff;
  mix-blend-mode: normal;
  opacity: 0.13;
  left: 0;
  bottom: 0;
}

.month-button {
  flex: 0 0 18px;
  color: #fff;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}
.month-button:focus,
.month-button:hover {
  color: rgba(60, 130, 249, 1);
  outline: none;
}

.month-button-icon {
  display: block;
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin:round;
}
.Days_name {
  font-size: 0.72222rem;
  margin: 20px 0 0;
  padding: 45px 0;
  list-style: none;
  display: flex;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.Days_name li {
  flex: 1 0 0;
  text-align: center;
}

.Calendar_Days {
  padding-bottom: 12.833333%;
}

.Days_numbers {
  font-size: 0.72222rem;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.Day_number {
  flex-grow: 1;
  flex-basis: 12.5%;
  padding: 4.12% 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Day_number a {
  flex: 0 0 100%;
  background: rgba(60, 130, 249, 0);
  aspect-ratio: 1;
  border-radius: 50%;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;

}

.Day_number a:hover, .Day_number a:focus {
  outline: none;
  background: rgba(60, 130, 249, 1);
}

.no_activ {
  mix-blend-mode: normal;
  opacity: 0.6; 
}

.Calendar_Categories {
  margin: 0 0 42.75% 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 0.72222rem; 
}

.Calendar_Categories::after, .Calendar_Categories::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  box-sizing: border-box;
}

.Calendar_Categories::before {
  background: #000;
  mix-blend-mode: normal;
  opacity: 0.17;
  left: 0;
  top: 0;
}

.Calendar_Categories::after {
  background: #fff;
  mix-blend-mode: normal;
  opacity: 0.13;
  left: 0;
  top: 2px;
}

.Categories_header {
  padding: 17.833333% 0 7% 0;
}

.Categories_buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4.6666666%;
}

.Categories_button {
  flex-grow: 1;
  flex-basis: 40%;
  padding: 4.12% 0;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: .61rem;
  color: #fff;
  border: none;
  border-radius: 12px;
}

.finance {
  background: #8576ED;
}
.management {
  background: #F39946;
}
.design {
  background: #FF467E;
}

.Categories_button:last-child {
  visibility: hidden;  
}

.Categories_button:focus,
.Categories_button:hover {
  mix-blend-mode: multiply;
}